.inspector {
    border: solid;
    background-color: gray;
    height: 95vh;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; 
    scrollbar-color: white;
}

.label_text {
    font-size: 24px;
    color: white;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
}

.hr {
    height: 2px;
    background: black;
}